

<button style="margin-top: 10px;" class="btn btn-md generate-tirage-btn btn-success" href="@Url.Action("__TirageLotterie", "Tirages")">
    <span class="glyphicon glyphicon-eye-open"> </span> &nbsp; Generate &nbsp; <span class="glyphicon glyphicon-play"> </span>
</button>

<input type="hidden" id="tirageEffectue" value="@if (ViewBag.LastlotterieTirage != null) { Write(1); }else{ Write(0); }" />
<input type="hidden" id="SecondeRestant" value="@if (ViewBag.SecondeRestant != null) { @ViewBag.SecondeRestant}else{ Write(0); }" />


<input id="url-get-waitingForTreadTirage" type="hidden" data-url="@Url.Action("__AfterWaitingDraw", "Tirages")" />
<input id="url-get-tirage-list" type="hidden" data-url="@Url.Action("__TirageLotterie", "Tirages")" />
<input id="url-get-treadTirage" type="hidden" data-url="@Url.Action("TreadTirage", "Tirages")" />




<div class="tirage-lotterie-bg">




    <center>

        <div id="timer" style="margin-top: 1%;"></div>

        @*<div class="div-timerAAA" style="margin-top: 5%;">


        </div>*@

    </center>



    @if (ViewBag.LastlotterieTirage != null)
    {

        var CurrentTirage = (TchotchoLoto.Models.LotterieTirage)ViewBag.LastlotterieTirage;



        <div class="ass">

            <center>
                <div style=" border-radius: 5px 5px 5px 5px; ">
                    <h4 style="display: inline;">Info Draw Date: @CurrentTirage.Tirage.DateTirage.ToString("dd/MM/yyyy") Time: @CurrentTirage.Tirage.Heure</h4>
                </div>
            </center>

            <center>

                <h3 class="boule1" style="display:none;">
                    <b>
                        First lot:
                    </b>

                    <span class="cercleLottery">
                        @CurrentTirage.Boule.Description
                    </span>
                </h3>



                <h3 class="boule2" style="display:none;">
                    <b>
                        Second lot:
                    </b>

                    <span class="cercleLottery">
                        @CurrentTirage.Boule1.Description
                    </span>
                </h3>


                <h3 class="boule3" style="display:none;">
                    <b>
                        Third lot:
                    </b>
                    <span class="cercleLottery">
                        @CurrentTirage.Boule2.Description
                    </span>
                </h3>


                <h3 class="boule4" style="display:none;">
                    <b>
                        Fourth lot:
                    </b>

                    <span class="cercleLottery">
                        @CurrentTirage.Boule3.Description
                    </span>
                </h3>

                <h3 class="boule5" style="display:none;">
                    <b>
                        Fifth lot:
                    </b>


                    <span class="cercleLottery">
                        @CurrentTirage.Boule4.Description
                    </span>
                </h3>



                <h3 class="bouleJacpot" style="display:none;">
                    <b>
                        The Jacpot Ball:
                    </b>

                    <span class="cercleJacpot">
                        @CurrentTirage.Boule5.Description
                    </span>
                </h3>



            </center>
        </div>



    }
</div>
