@model TchotchoLoto.Models.PointDeVente

@{
    ViewBag.Title = "Point Of Sale";
    Layout = null;
}

<input type="hidden" class="title" data-title="Client" />

<div class="indicator">
    List  &nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; &nbsp; Point Of Sale

</div>

<div class="header-body">
    <p style="display:inline-block;">
        Point of Sale (<span id="hb-nbre-pointDeVente">
            @if (ViewBag.PointDeVentes != null)
            {@ViewBag.PointDeVentes.Count}
        else { Write(0); }
        </span>)
        &nbsp;&nbsp;<span class="glyphicon star glyphicon-star text-success"></span>
    </p>

    <div style="display:inline-block;" class="header-buttons">
        <button class="add-after-edit btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#create-pointDeVente-modal">
            <span class="glyphicon glyphicon-plus"></span> New Point Of Sale
        </button>
    </div>

</div>

<br />


<div class="header-body">
    <p style="display:inline-block;">
        Point of Sale (<span id="hb-nbre-pointDeVente">
            @if (ViewBag.PointDeVentes != null)
            {@ViewBag.PointDeVentes.Count}
        else { Write(0); }
        </span>)
        &nbsp;&nbsp;<span class="glyphicon star glyphicon-star text-success"></span>
    </p>


    <div style="display: inline-block;">
        @using (Html.BeginForm("__Index", "PointDeVentes", FormMethod.Get, htmlAttributes: new { id = "statut-pointDeVente-form" }))
        {
            <div class="combobox-auto-select" style="width:200px;">
                <input class="input-search" type="text" style="text-transform:capitalize; padding-left:15px; position:absolute; margin:2px; height:30px; background:none;  width:auto; color:none; border:none;" />
                @Html.DropDownList("StatutPointDeVenteId", null, "Select Status", htmlAttributes: new { @class = "form-control ddl-to-filter colorSelectListBG", id = "ddlStatutPointDeVenteId", Style = "width: 250px; border: 1px solid black;" })
            </div>
        }
    </div>

    <div style="display:inline-block;" class="header-buttons">
        <button class="add-pointDeVente-btn add-after-edit btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#create-pointDeVente-modal">
            <span class="glyphicon glyphicon-plus"></span> new Point of Sale
        </button>


    </div>

</div>

<br />



<div class="page-scroll-content" id="pointDeVente-list-pv">

    @Html.Partial("__Index")

</div>

<input id="url-get-pointDeVente-list" type="hidden" data-url="@Url.Action("__Index", "PointDeVentes")" />







<div id="create-pointDeVente-modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">

        <div class="modal-content">
            <div class="modal-header" style="background-color: #0078d7; border-radius:5px 5px 0 0;">

                <h4 class="title-conditionned" style="display: inline;">Add Agency</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body row" style="padding:3%;">

                @using (Html.BeginForm("_Index", "PointDeVentes", FormMethod.Post, htmlAttributes: new { id = "Add-PointDeVente-Form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.PointDeVenteId, htmlAttributes: new { @class = "id-resetable" })

                    <div class="form">

                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            @Html.LabelFor(model => model.CodePointDeVente, "Code", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CodePointDeVente, new { htmlAttributes = new { @class = "form-control editor-resetable" } })
                        </div>

                        
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            @Html.LabelFor(model => model.NomPointDeVente, "Point Sale Name", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.NomPointDeVente, new { htmlAttributes = new { @class = "form-control editor-resetable" } })
                        </div>

                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            @Html.LabelFor(model => model.Ville, "City", htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control editor-resetable" } })
                        </div>



                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            @Html.LabelFor(model => model.CodePostal, "Postal Code", htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.CodePostal, new { @class = "form-control editor-resetable", style = "width:100%; max-width: 100%; ", rows = "1" })
                        </div>

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="border-top:1px solid #d7d7d7; padding-top:10px; text-align:right;">

                        <button type="submit" class="btn btn-sm btn-info submit"><span class="glyphicon glyphicon-save-file"></span> Save <span class="glyphicon glyphicon-refresh loader" style="display:none;"></span> </button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>

                    </div>

                }

            </div>

        </div>
    </div>
</div>





<div id="edit-pointDeVente-modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md">

    </div>
</div>






<!-- Modal 2 Dialog for delete option -->
<div id="delete-modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header" style="background-color: #0078d7; border-radius:5px 5px 0 0;">

                <h4 style="display: inline;">Deletion</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body row" style="padding:7%; text-align:center;">

                <span class="glyphicon glyphicon-alert" style="display:block; font-size: 20px;"></span>
                <h5 class="text-warning" style="display:block;">Do you really want to Delete this Point Of Sale ?</h5>

            </div>

            <div class="modal-footer">

                <a class="delete-confirmed btn btn-sm btn-danger" href="#">
                    YES
                </a>

                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                    NO
                </button>

            </div>
        </div>

    </div>
</div>



<a id="validation-link" data-toggle="modal" data-target="#modal-dialog-message"></a>

<div id="modal-dialog-message" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0078d7; border-radius:5px 5px 0 0;">

                <h4 style="display: inline;">Message</h4>

            </div>
            <div class="modal-body row" style="padding:7%; text-align:center;">

                <span class="glyphicon glyphicon-info-sign" style="display:block; font-size: 20px;"></span>
                <h5 class="text-info" style="display:block;">@ViewBag.message</h5>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>

    </div>
</div>


<div id="pv-overlay-loading" class="overlay-loading bc-overlay-loading" style="display:none;">
    <img src="~/Content/images/loading-gif.gif" alt="Loading" width="50" height="50" />
</div>


