
<input type="hidden" id="nbre-application" value="@if (ViewBag.applications != null) { @ViewBag.applications.Count}else{ Write(0); }" />

<div id="pv-overlay-loading" class="overlay-loading" style="display:none;">
    <img src="~/Content/images/loading-gif.gif" alt="Loading" width="50" height="50" />
</div>


<div class="table-responsive">
    <table id="datatable" class="table table-hover display" style="width:100%;">

        <thead class="bg-success">

            <tr>
                <th>
                    Company
                </th>
                <th>
                    Application Name
                </th>
                <th>
                    Description
                </th>
                <th style="text-align:center;">
                    Actions
                </th>
            </tr>

        </thead>

        <tbody class="big-table-height">
            @if (ViewBag.applications != null)
            {
                foreach (var item in (List<TchotchoLoto.Models.Application>)ViewBag.applications)
                {
                    <tr>
                        <td>
                            @item.Compagnie.NomCompagnie
                        </td>
                        <td>
                            @item.ApplicationName
                        </td>
                        <td>
                            @item.Description
                        </td>

                        <td style="text-align:center;">

                            <button data-url="@Url.Action("_Edit", "Applications", new { id = item.ApplicationId })" class="edit-application-btn btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></span> Edit</button>

                         

                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>