@using TchotchoLoto.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0078d7">
    <title>@ViewBag.Title - TCHOTCHO LOTO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <noscript>
        <div style="position:fixed; width:100%; height:100%; text-align:center;background:#fff; z-index: 20000;">
            <h1 class="text-danger" style="transform:translateY(60%);">This Application needs Javascript to Run Correctly...</h1>
        </div>
    </noscript>

    <div class="ly-overlay-loading overlay-loading">
        <img src="~/Content/images/loading-gif.gif" alt="Loading" width="50" height="50" />
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #0078d7;">
       

        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/Content/images/tchotcholotologo.jpg" alt="logo" class="img-rounded" width="100" height="50" />
                <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-registration-mark brand-glyph img-circle"></span><b> </b></a>
            </div>
        </div>
    </div>
    <div class="login-body">
        @RenderBody()
    </div>


    <input type="hidden" id="url-get-notif-info" data-url="@Url.Action("GetNotifInfo", "Account")" />

    <input type="hidden" id="notif-sound-1" data-src="@Url.Content("~/Content/sounds/notif-sound-1.mp3")" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/bootstrap-multiselect")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>

</html>
