@model TchotchoLoto.Models.AppNavigationApplication

@{
    ViewBag.Title = "Application";
    Layout = null;
    int AppNavigationId = Model != null ? (int)Model.AppNavigationId : 0;

}



<input type="hidden" class="title" data-title="Navigation-Application" />

<div class="indicator">
        Security &nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; &nbsp;  <a href="@Url.Action( "Index", "AppNavigations")" class="sub-view-back-to-parent-link" style="text-decoration:none; text-decoration-style: none;" title="Click to return to Navigation"> Navigation</a>  <span class="glyphicon glyphicon-chevron-right"></span> Application
</div>


<div class="header-body">

    <p style="display:inline-block;">
        Navigation: @Model.AppNavigation.NavigationLabel. &nbsp; &nbsp;  <span class="glyphicon star glyphicon-star text-success"></span>
        &nbsp;&nbsp;Application(<span id="hb-nbre-app-navigation-application">
            @if (ViewBag.appNavigationApplications != null)
            {@ViewBag.appNavigationApplications.Count}
        else { Write(0); }
        </span>)
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon star glyphicon-star text-success"></span>
    </p>

    <div style="display:inline-block;" class="header-buttons">
        <button class="add-after-edit btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#create-app-navigation-application-modal">
            <span class="glyphicon glyphicon-plus"></span> Add Application
        </button>
    </div>

</div>

<br />



<div class="page-scroll-content" id="app-navigation-application-list-pv">

    @Html.Partial("__Index")

</div>

<input id="url-get-app-navigation-application-list" type="hidden" data-url="@Url.Action("__Index", "AppNavigationApplications", new { id = AppNavigationId})" />



<div id="create-app-navigation-application-modal" class="modal fade" app-navigation="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header" style="background-color: #0078d7; border-radius:5px 5px 0 0;">

                <h4 style="display: inline;">Add Application</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body row" style="padding:6%;">

                @using (Html.BeginForm("_Index", "AppNavigationApplications", FormMethod.Post, htmlAttributes: new { id = "Add-App-Navigation-Application-Form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.AppNavigationId)
                    <div class="form">
                        <div class="form-group col-md-12 col-sm-12">
                            @Html.Label("Application", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("ApplicationId", null,"Select an Application", htmlAttributes: new { @class = "form-control select select-resetable", id = "ddlApplicationId" })
                        </div>

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="border-top:1px solid #d7d7d7; padding-top:10px; text-align:right;">

                        <button type="submit" class="btn btn-sm btn-info submit"><span class="glyphicon glyphicon-save-file"></span> Save <span class="glyphicon glyphicon-refresh loader" style="display:none;"></span> </button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>

                    </div>


                }

            </div>

        </div>
    </div>
</div>



<div id="edit-app-navigation-application-modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">


    </div>
</div>



<!-- Modal 2 Dialog for delete option -->
<div id="delete-modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header" style="background-color: #0078d7; border-radius:5px 5px 0 0;">

                <h4 style="display: inline;">Deletion</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body row" style="padding:7%; text-align:center;">

                <span class="glyphicon glyphicon-alert" style="display:block; font-size: 20px;"></span>
                <h5 class="text-warning" style="display:block;">Do you really want to Delete?</h5>

            </div>

            <div class="modal-footer">

                <a class="delete-confirmed btn btn-sm btn-danger" href="#">
                    YES
                </a>

                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                    NO
                </button>

            </div>
        </div>

    </div>
</div>



<a id="validation-link" data-toggle="modal" data-target="#modal-dialog-message"></a>

<div id="modal-dialog-message" class="modal fade" app-navigation="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0078d7; border-radius:5px 5px 0 0;">

                <h4 style="display: inline;">Message</h4>

            </div>
            <div class="modal-body row" style="padding:7%; text-align:center;">

                <span class="glyphicon glyphicon-info-sign" style="display:block; font-size: 20px;"></span>
                <h5 class="text-info" style="display:block;">@ViewBag.message</h5>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>

    </div>
</div>

<div id="pv-overlay-loading" class="overlay-loading bc-overlay-loading" style="display:none;">
    <img src="~/Content/images/loading-gif.gif" alt="Loading" width="50" height="50" />


