

<input type="hidden" id="nbre-role-permission" value="@if (ViewBag.rolePermissions != null) { @ViewBag.rolePermissions.Count}else{ Write(0); }" />

<div id="pv-overlay-loading" class="overlay-loading" style="display:none;">
    <img src="~/Content/images/loading-gif.gif" alt="Loading" width="50" height="50" />

</div>


<div class="table-responsive">
    <table id="datatable" class="table table-hover display" style="width:100%;">

        <thead class="bg-success">

            <tr>
                <th>
                    Permission
                </th>
                <th>
                    Role Name
                </th>
                <th>
                    FullPermission
                </th>
                <th style="text-align:center;">
                    Action
                </th>
            </tr>

        </thead>

        <tbody>
            @if (ViewBag.rolePermissions != null)
            {
                foreach (var item in (List<TchotchoLoto.Models.RolePermission>)ViewBag.rolePermissions)
                {
                    <tr>
                        <td>
                            @item.Permission.Label
                        </td>
                        <td>
                            @item.Role.RoleName
                        </td>
                        <td>
                            
                            @if (item.FullPermission)
                            {
                                <span> Yes</span>}

                            else
                            { <span> No </span>}


                        </td>

                        <td style="text-align:center;">
                            <button id="@item.RolePermissionId" class="delete-link-rop btn btn-xs btn-danger" data-toggle="modal" data-target="#delete-modal"><span class="glyphicon glyphicon-trash"></span> Delete </button>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>

@Html.DropDownList("AppNavigationId", null, "Select a Navigation", htmlAttributes: new { @class = "form-control dropdown-resetable", id = "ddlAppNavigationIdFilled", style = "display:none;" })


