@model TchotchoLoto.Models.RolePermission

@{
    ViewBag.Title = "Role Permission";
    Layout = null;
    int RoleId = Model != null ? (int)Model.RoleId : 0;

}



<input type="hidden" class="title" data-title="Role Permission" />

<div class="indicator">
    Security &nbsp;&nbsp; <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; &nbsp;  <a href="@Url.Action( "Index", "Roles")" class="sub-view-back-to-parent-link" style="text-decoration:none; text-decoration-style: none;" title="Click to return to Role"> Role</a>  &nbsp; &nbsp;   <span class="glyphicon glyphicon-chevron-right"></span>  &nbsp; &nbsp;  Permission
</div>


<div class="header-body">

    <p style="display:inline-block;">
        Role: @Model.Role.RoleName. &nbsp; &nbsp;  <span class="glyphicon star glyphicon-star text-success"></span>
        &nbsp;&nbsp;Permission(<span id="hb-nbre-role-permission">
            @if (ViewBag.rolePermissions != null)
            {@ViewBag.rolePermissions.Count}
        else { Write(0); }
        </span>)
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon star glyphicon-star text-success"></span>
    </p>

    <div style="display:inline-block;" class="header-buttons">
        <button class="add-after-edit btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#create-role-permission-modal">
            <span class="glyphicon glyphicon-plus"></span> Add Permission
        </button>
    </div>

</div>

<br />



<div class="page-scroll-content" id="role-permission-list-pv">

    @Html.Partial("__Index")

</div>

<input id="url-get-role-permission-list" type="hidden" data-url="@Url.Action("__Index", "RolePermissions", new { id = RoleId})" />

<input id="url-get-role-permission-id" type="hidden" data-url="@Url.Action("GetPermissionId", "RolePermissions", new { RoleId = RoleId})" />




<div id="create-role-permission-modal" class="modal fade" app-navigation="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header" style="background-color: #0078d7; border-radius:5px 5px 0 0;">

                <h4 style="display: inline;">Add Permission</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body row" style="padding:6%;">

                @using (Html.BeginForm("_Index", "RolePermissions", FormMethod.Post, htmlAttributes: new { id = "Add-Role-Permission-Form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.RolePermissionId)
                    @Html.HiddenFor(model => model.RoleId)
                    <div class="form">

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            @Html.Label("Navigation", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("AppNavigationId", null, "Select a Navigation", htmlAttributes: new { @class = "form-control dropdown-resetable", id = "ddlAppNavigationId" })
                        </div>

                        <div class="form-group col-md-12 col-sm-12">
                            @Html.Label("Permission", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("PermissionId", (MultiSelectList)ViewBag.PermissionIds, htmlAttributes: new { @class = "form-control multiselect multiselect-resetable initial-ddlPermissionId", multiple = "multiple", id = "ddlPermissionId" })
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12" style="padding-top:25px;">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    @Html.CheckBox("FullPermission", false, htmlAttributes: new { @class = "btn btn-default check-box-resetable" })
                                </div>
                                <div class="form-control">
                                    <label class="control-label">Full Permission</label>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style="border-top:1px solid #d7d7d7; padding-top:10px; text-align:right;">

                        <button type="submit" class="btn btn-sm btn-info submit"><span class="glyphicon glyphicon-save-file"></span> Save <span class="glyphicon glyphicon-refresh loader" style="display:none;"></span> </button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>

                    </div>


                }

            </div>

        </div>
    </div>
</div>



<div id="edit-app-navigation-permission-modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">


    </div>
</div>



<!-- Modal 2 Dialog for delete option -->
<div id="delete-modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header" style="background-color: #0078d7; border-radius:5px 5px 0 0;">

                <h4 style="display: inline;">Deletion</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body row" style="padding:7%; text-align:center;">

                <span class="glyphicon glyphicon-alert" style="display:block; font-size: 20px;"></span>
                <h5 class="text-warning" style="display:block;">Do you really want to Delete this Permission ?</h5>

            </div>

            <div class="modal-footer">

                <a class="delete-confirmed btn btn-sm btn-danger" href="#">
                    YES
                </a>

                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                    NO
                </button>

            </div>
        </div>

    </div>
</div>



<a id="validation-link" data-toggle="modal" data-target="#modal-dialog-message"></a>

<div id="modal-dialog-message" class="modal fade" app-navigation="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0078d7; border-radius:5px 5px 0 0;">

                <h4 style="display: inline;">Message</h4>

            </div>
            <div class="modal-body row" style="padding:7%; text-align:center;">

                <span class="glyphicon glyphicon-info-sign" style="display:block; font-size: 20px;"></span>
                <h5 class="text-info" style="display:block;">@ViewBag.message</h5>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>

    </div>
</div>

<div id="pv-overlay-loading" class="overlay-loading bc-overlay-loading" style="display:none;">
    <img src="~/Content/images/loading-gif.gif" alt="Loading" width="50" height="50" />


